# Data Science Tools and Ecosystem (H1)

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

some of the key takeaways fromthe course
- learn how craete tables on jupyter
- learn how to add Markdowns
- learn how to code block
- learn how use jupypter notebook for datascience project
- learn how to do formatting on jupyter notebook

## Author:

Peos John

Some of the popular languages that Data Scientists use are:
Then create an
ordered list
(i.e. numbered) listing 3 (or more) commonly used languages for data science.

Some of the commonly used libraries used by Data Scientists include:
Below this line add an
ordered list
listing 3 (or more) commonly used libraries in data science.

| Data Science Tool | 
|------------------|
| Jypypter |
| RStudio |
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335